@import '../../../../assets/variables/colors';

.service__card{
  max-width: 400px;
  padding-bottom: 70px;
  border-bottom: 3px solid $darkblue;
  text-align: center;
  &-image{
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 35px;
  }
  &-title{
    font-size: 32px;
    font-weight: 600;
    color: $dark;
    margin-bottom: 25px;
  }
  &-descr{
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    line-height: 23px;
    color: $dark;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}