@import "../../assets/variables/colors";

.service__main {
  margin: 0 auto;
  width: 100%;
  min-width: 375px;

  .items__wrapper {
    margin-top: -7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 15px;
    margin-bottom: 100px;
  }

  .info__wrapper {
    max-width: 100%;
    max-height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 44px;
    margin-bottom: 50px;

    @media (max-width: 890px) {
      flex-wrap: wrap;
      row-gap: 44px;
      margin-bottom: 400px;
    }

    &-image {
      width: 50%;
      max-width: 640px;
      max-height: 580px;
      border-radius: 10px 0 0 10px;
      @media (max-width: 890px) {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }

    &-text {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      row-gap: 35px;
      @media (max-width: 890px) {
        width: 85%;
        padding: 0 5%;
      }

      .text {
        color: $black;
        font-size: calc(18px + 6 * (100vw / 1280));
      }

      .author {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: $darkblue;
        position: relative;

        &:before {
          content: ' ';
          width: 100px;
          height: 4px;
          position: absolute;
          top: 12px;
          right: -125px;
          background-color: $darkblue;
          border-radius: 4px;
        }
      }
    }
  }
}