@import "../../assets/variables/colors";

.blog__single {
  .post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -7%;
    &__video{
      margin: 0 auto;
      width: 80%;
      height: 500px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 70px;
      @media (max-width: 850px) {
        margin-bottom: 35px;
      }
    }
    &__image {
      max-width: 970px;
      width:100%;
      border-radius: 5px;
      margin-bottom: 45px;
    }

    &__title {
      max-width: 570px;
      font-size: 20px;
      line-height: 32px;
      color: $dark;
      margin-bottom: 25px;
    }

    &__descr {
      max-width: 570px;
      line-height: 32px;
      margin-bottom: 58px;
    }

    &__info {
      max-width: 570px;
      &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;
      }

      &-list{
        display: inline-block;
        margin-bottom: 32px;
        list-style: none;
        .list{
          position: relative;
          text-align: left;
          line-height: 32px;
          &::after{
            position: absolute;
            top: 11px;
            left: -15px;
            content: ' ';
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $darkblue;
          }
        }
      }

      &-descr,&-seconddescr  {
        line-height: 32px;
        margin-bottom: 44px;
      }
    }

    &__post {
      max-width: 570px;
      background-color: $darkblue;
      border-radius: 6px;
      color: $light;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 15px;
      margin-bottom: 100px;
      @media (max-width: 550px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }
      &-text {
        width: 80%;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}