@import "../../assets/variables/colors";

.service__single {
  &-wrapper {
    margin-top: -7%;
    margin-bottom: 50px;
  }
  &-item{
    margin-bottom: 100px;
  }

  .mt-5{
    margin-top: 100px;
  }
  .opacity{
    opacity: 0;
  }
  &-wrapper, &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }

    .service__single-info {
      width: 75%;
      background-color: $light;
      border-radius: 10px;
      padding: 50px 35px;
      @media (max-width: 1020px) {
        padding: 25px 35px 0 35px;
      }
      @media (max-width: 900px) {
        width: 100%;
      }

      .service__title {
        font-weight: 600;
        font-size: calc(24px + 10 * (50vw / 1280));
        line-height: 25px;
        color: $lightblue;
        margin-bottom: 35px;
      }

      .service__descr {
        font-size: calc(18px + 2 * (50vw / 1280));
        line-height: 27px;
        color: $black;
        margin-bottom: 25px;
      }

      .divider {
        width: 10%;
        height: 3px;
        background-color: $lightblue;
        border-radius: 2px;
        border: none;
        margin-bottom: 25px;
      }
    }

    .opening {
      min-width: 300px;
      width: 25%;
      background-color: $darkblue;
      border-radius: 10px;
      padding: 45px 22px;
      @media (max-width: 900px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .emer__descr {
        margin-bottom: 35px;
      }

      .emer__text {
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        color: $light;
      }

      &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: $light;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 60px;
        @media (max-width: 900px) {
          margin-bottom: 20px;
        }
      }

      .opening__days {
        @media (min-width: 465px) and (max-width: 900px) {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-bottom: 20px;
        }


        .opening__times {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $light;
          font-weight: 600;
          line-height: 25px;
          border-bottom: 1px solid $light;
          margin-bottom: 50px;
          @media (max-width: 900px) {
            margin-bottom: 20px;
          }
        }
      }

      &__descr {
        line-height: 25px;
        color: $light;
        opacity: .75;
        @media (max-width: 460px) {
          text-align: center;
        }
      }
    }
  }
}