@import "../../../../assets/variables/colors";

.blogcard {
  max-width: 390px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 30px;

  .image {
    max-width: 410px;
    max-height: 300px;
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  .body {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px 0;
    .title {
      font-size: 20px;
      font-weight: 500;
      color: $dark;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .descr {
      font-size: 16px;
      color: $black;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}