@import "../../../../assets/variables/colors";
.fullwidth {
  margin: 0 auto;
  height: 400px;
  display: flex;
  flex-direction: row;
  background-color: $light;
  border-radius: 10px;
  overflow: hidden;
  width: 1000px;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  &__head {
    flex: 0.7;
    width: 100%;
    height: 400px;
    color: $light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 700px) {
      flex: 1;
      width: 100%;
      height: 400px !important;
    }
  }

  &__body {
    width: 100%;
    padding: 2% 3.5%;
    color: $black;
    flex: .3;
    @media (max-width: 700px) {
      width: 100%;
      flex: 1;
      height: auto;
    }
    &-maintitle {
      font-style: normal;
      font-weight: 700;
      font-size: calc(20px + 12 * (100vw / 1280));
      @media (max-width: 970px) {
        font-size: calc(20px + (12 + 12 * .7) * ((100vw - 375px) / 1280));
      }
      font-family: 'Playfair Display', serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-bottom: 17px;
    }

    &-title {
      font-size: calc(14px + 4 * (100vw / 1280));
      @media (max-width: 970px) {
        font-size: calc(14px + (4 + 4 * .7) * ((100vw - 375px) / 1280));
      }
      line-height: calc(12px + 14 * (100vw / 1280));
      @media (max-width: 970px) {
        line-height: calc(16px + (14 + 14 * .7) * ((100vw - 375px) / 1280));
      }
      @media (max-width: 700px){
        margin-top: 15px;
      }
      font-family: 'Playfair Display', serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 11;
      -webkit-box-orient: vertical;
    }

    .nisi {
      font-size: calc(20px + 15 * (100vw / 1280));
      @media (max-width: 970px) {
        font-size: calc(20px + (15 + 15 * .7) * ((100vw - 375px) / 1280));
      }
      font-family: 'Playfair Display', serif;
    }
  }
}
