@import "../../../../assets/variables/colors";

.newswrapper {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  max-height: 154px;
  .image {
    max-width: 165px;
    height: 100% !important;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
  }

  .infos {
    padding: 10px 10px 10px 0;

    .info {
      color: $darkblue;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .title {
      font-size: 22px;
      font-family: 'Yeseva One', cursive;
      line-height: 25px;
      color: $dark;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 30px;
      @media (max-width: 500px) {
        margin-bottom: 20px;
      }
    }

    .views {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
    }
  }
}
