.news {
  width: 100%;
  min-width: 375px;
  margin-bottom: 100px;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
    @media (max-width: 1200px) {
      justify-content: center;
    }

    .morenews {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}